li .active{
     background-color: #cdec6f;
     border-radius: 12px;
     color: #71717A;
}


.nav-btn {
  font-size: 18px;
  color: #71717A;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}


.nav-btn:focus:after,
.nav-btn:hover:after {
  width: 100%;
  left: 0%;
  
}


.nav-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #cdec6f;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}