@import "tailwindcss";
 @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;

 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}

 