@import "tailwindcss";
@plugin "daisyui";

/* In Tailwind v4, use the @theme block for custom variable mapping if needed */
@theme {
  --color-primary: var(--p);
  --color-secondary: var(--s);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #aa84fc;
  --color-secondary:  #71717a;
  --color-base-100: #ffffff;
  --color-base-content: #1f2937;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #7c5cff;
  /* --color-: gray-800; */
  
  --color-secondary: #71717a;
  --color-base-100: #0f172a;
  --color-base-content: #e5e7eb;
}